/C#/StockAnalysis/Common/obj
/C#/StockAnalysis/Common/bin
/C#/StockAnalysis/DataAccess/bin
/C#/StockAnalysis/DataAccess/obj
/C#/StockAnalysis/Model/obj
/C#/StockAnalysis/Model/bin
/C#/StockAnalysis/StockAnalysis/obj
/C#/StockAnalysis/StockAnalysis/bin
C#/StockAnalysis/.vs/*
/C#/StockAnalysis/Business/obj/*
C#/StockAnalysis/Business/obj/*